# Data (usually don't commit raw data)
data/raw/
data/processed/
data/dashboard_cache/
results/

# Results (optional: keep if you want)
# results/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Conda / env
*.conda
.env
.venv

# IDE
.vscode/
.idea/
data/dashboard_cache/c9664185-d3fd-4e0e-89cf-77c402038938.pkl
